@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin: 0;
    padding: 0;
}

div{
    box-sizing: border-box;
}

.navbar{
    background: linear-gradient(to right, black, #093C4E);
}

select{
    margin-top: 15px;
}
#prop-picker{
margin-left: 10px;
}
path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
#button_download{
    margin-top: 7px;
    margin-left: 20px;
}