<head>
    <meta-charset="UTF-8">
    <title>Flow Monitoring Stations</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
    <link rel="icon" href="https://www.stantec.com/static/img/favicon/favicon.ico">
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><b>Flow Meter Visualization</b></a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-middle">
              <li><a href="#Home">Home</a></li>
              <li><select id="data-picker">
                  <option value="INC-17">INC-17</option>
                  <option value="Utoy Railroad">Utoy Railroad</option>
              </select></li>
              <li><select id="prop-picker">
                <option value="Level">Level</option>
                <option value="Rainfall">Rainfall</option>
            </select></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      
    <script type="text/javascript" src ="{{ url_for('static', filename='script.js') }}"></script>

</body>